@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Henny+Penny&family=Rubik+Vinyl&family=Rubik+Wet+Paint&display=swap');
@import 'tailwindcss';
@import 'primeicons/primeicons.css';

* {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  /* color: rgb(255, 255, 255); */
  background-color: #eaeaea;

  /* background-color: #1c1b29; */
  /* background-color: #FF7518; */
  /* background-color: #9aff6b; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
a:hover {
  color: #9aff6b;
}
a:hover:not {
  color: #9aff6b;
}

.googel-maps-links {
  @apply text-blue-600
}

.googel-maps-links:hover {
  @apply text-blue-800
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1c1b29;
}

.scary-font {
  font-family: 'Henny Penny', system-ui;
}

.secondary-font {
  font-family: 'Fredoka', system-ui;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #ff7518;
  cursor: pointer;
  transition: background-color 300ms, color 300ms, border-color 300ms;
}

button:hover {
  background-color: #9aff6b;
  color: #1c1b29;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.error-message {
  @apply text-red-600 text-xl my-5 p-2.5 border border-red-600 bg-red-100;
}
