@import 'tailwindcss';
@import 'primeicons/primeicons.css';


/* @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Henny+Penny&family=Rubik+Vinyl&family=Rubik+Wet+Paint&display=swap'); */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  /* color: rgb(255, 255, 255); */
  background-color: #eaeaea;

  /* background-color: #1c1b29; */
  /* background-color: #FF7518; */
  /* background-color: #9aff6b; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
a:hover {
  color: #9aff6b;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1c1b29;
}

h1 {
  line-height: 1.1;
  margin: 0;
  font-family: 'Henny Penny', system-ui;
  color: #ff7518;
  text-align: center;
  /* text-shadow: 0 0 4px #ff0000; */
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #ff7518;
  color: #eaeaea;
  cursor: pointer;
  transition: background-color 300ms, color 300ms, border-color 300ms;
}
button:hover {
  background-color: #9aff6b;
  color: #1c1b29;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
